@font-face {
    font-family: 'pixel';
    src: url('../fonts/Volter__28goldfish_29.eot');
    src: url('../fonts/Volter__28goldfish_29.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volter__28goldfish_29.woff2') format('woff2'),
         url('../fonts/volter__28goldfish_29.woff') format('woff'),
         url('../fonts/Volter__28Goldfish_29.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  margin-top: 2vh;
}

ul li {
  position: relative;
  padding-left: 24px;
  padding-bottom: 2px;
}

ul li:before {
  position: absolute;
  content: '¥';
  left: -6px;
}

ul li.link:before {
  content: 'º';
  left: 0px;
}

body {
  font-size: 18px;
  line-height: 24px;
  font-family: 'pixel', 'Courier New', monospace;
  background: #000;
  color: #fff;
}

header {
  text-align: center;
  padding-bottom: 2vh;
}

header img {
  margin-top: 20vh;
  margin-bottom: 2vh;
}

header strong {
  color: #989898;
}

header p.small {
  margin-top: 4vh;
  font-size: 14px;
}

section {
  margin: 4vh;
}

h2 {
  /* border-width: 6px;
  border-top: 6px dotted #989898;
  border-bottom: 6px dotted #989898; */
  font-size: 34px;
  padding: 8vh 0 4vh 0;
  text-align: center;
}

h3 {
  padding-bottom: 1vh;
}

p {
  margin-top: 2vh;
}

.entry {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 800px;
  margin: 0 auto;
}

.entry > div:first-child {
  display: flex;
  flex: 0;
  max-width: 26vw;
  position: relative;
  min-width: 26vw;
  min-height: 200px;
}

.entry > div:first-child.image {
  background-size: cover;
  background-position: center;
}

.entry > div:last-child {
  padding-left: 4vh;
}

.video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video video {
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  header img {
    width: 50%;
  }
}

footer {
  text-align: center;
  /* border-top: 6px dotted #989898; */
  padding: 6vh 0;
  font-size: 14px;
}