@font-face {
    font-family: 'pixel';
    src: url('../fonts/Volter__28goldfish_29.eot');
    src: url('../fonts/Volter__28goldfish_29.eot?#iefix') format('embedded-opentype'),
         url('../fonts/volter__28goldfish_29.woff2') format('woff2'),
         url('../fonts/volter__28goldfish_29.woff') format('woff'),
         url('../fonts/Volter__28Goldfish_29.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

body {
  font-size: 2.5vh;
  line-height: 4vh;
  font-family: 'pixel', 'Courier New', monospace;
  background: #000;
  color: #fff;
  text-align: center;
}

header {
  width: 100vw;
  height: 85vh;
}

header img {
  margin-top: 20%;
  margin-bottom: 2vh;
}

header strong {
  color: #989898;
}

@media (max-width: 800px) {
  header img {
    width: 50%;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  width: 100%;
  left: 0;
  height: 15vh;
}
