@font-face {
  font-family: 'pixel';
  src: url("../fonts/Volter__28Goldfish_29.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'seasons-spring';
  src: url("../fonts/seasons-spring.eot");
  src: url("../fonts/seasons-spring.eot?#iefix") format('embedded-opentype'), url("../fonts/seasons-spring.woff") format('woff'), url("../fonts/seasons-spring.ttf") format('truetype'), url("../fonts/seasons-spring.svg#seasons-spring") format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

body {
  font-size: 2.5vh;
  line-height: 4vh;
  font-family: 'pixel', 'Open Sans', sans-serif;
}

h1 {
  font-size: 3.5em;
  color: #3e3d4d;
  padding: 1em 0;
}

header {
  width: 100vw;
  height: 100vh;
  display: block;
  background: #fff;
}

header:before {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.05);
}

header:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 35px;
  height: 20px;
  background: url("../images/arrow.png") no-repeat;
}

header img {
  position: absolute;
  left: 0;
  right: 0;
  top: 44%;
  margin: auto;
}

@media (max-width: 800px) {
  header img {
    width: 50%;
  }
}

nav {
  z-index: 100;
  background: #fff;
  display: block;
  width: 100%;
  padding: 24px 0;
  position: fixed;
  left: 0;
  transition: top 0.3s;
  top: -100px;
}

nav.active {
  top: 0;
}

@media (max-width: 800px) {
  nav {
    display: none !important;
  }
}

nav:before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.05);
}

nav ul {
  float: right;
  display: inline-block;
  margin: 5px 0;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  padding-right: 20px;
}

nav ul li a {
  font-size: 1.2em;
  color: #3e3d4d;
  text-decoration: none;
  display: inline-block;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 80vw;
  max-width: 1024px;
}

section {
  text-align: center;
  margin: 15vh 0 10vh 0;
  padding: 5vh 0 15vh 0;
}

section:last-child {
  margin-bottom: 0;
}

section.contrast {
  color: #fff;
  background: #3e3d4d;
}

section.contrast h1 {
  color: #fff;
}

section#team ul {
  list-style: none;
  display: inline-block;
}

section#team ul li {
  margin: 5vh 1vw;
  display: inline-block;
}

section#team ul li span {
  display: block;
  font-size: 14px;
  padding: 0.8vh 0;
}

section#team ul li img {
  border-radius: 4px;
  border: 2px solid #000;
}

footer {
  position: relative;
  padding: 32px;
  background: #000;
  color: #fff;
  font-size: 14px;
}

footer p.right {
  float: right;
}
