@font-face {
  font-family 'seasons-spring'
  src url('../fonts/seasons-spring.eot')
  src url('../fonts/seasons-spring.eot?#iefix') format('embedded-opentype'),
       url('../fonts/seasons-spring.woff') format('woff'),
       url('../fonts/seasons-spring.ttf') format('truetype'),
       url('../fonts/seasons-spring.svg#seasons-spring') format('svg')
  font-weight normal
  font-style normal
}
